<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Puno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Selecciona tu ubicación en el mapa de Puno</h1>
    
    <!-- Div donde se cargará el mapa -->
    <div id="map"></div>
    
    <!-- Carga de Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdLeTDanuANclQOc0UG3eu77ahPdJrcl0&libraries=places&callback=initMap" async defer></script>
    
    <!-- Script propio -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
<button id="recommendationsBtn" onclick="showRecommendations()">Mostrar Recomendaciones</button>
<div id="recommendationsList"></div> <!-- Aquí mostraremos las recomendaciones -->

</html>
